<section data-ng-controller="InventoriesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Inventories</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="inventory in inventories" data-ng-href="#!/inventories/{{inventory._id}}" class="list-group-item col-md-4">
			<h4 class="list-group-item-heading" data-ng-bind="inventory.name"></h4>        
            <div class="row col-md-12">
                <img ng-src="{{inventory.image}}" alt="{{inventory.name}}"/>
                <div class="row col-md-12">
                    <map center="{{inventory.location}}" zoom="12" style="height: 50%">
                        <heatmap-layer id="foo" data="taxiData"></heatmap>
                    </map>
                </div>
            </div>
            <small class="list-group-item-text">
                Posted on
                <span data-ng-bind="inventory.created | date:'medium'"></span>
                by
                <span data-ng-bind="inventory.user.displayName"></span>
                in
                <span data-ng-bind="inventory.category.name"></span>
            </small>
            
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!inventories.$resolved || inventories.length">
    	No Inventories yet, why don't you <a href="/#!/inventories/create">create one</a>?
    </div>
</section>
